* {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  padding: 0 7px;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 75px;
  background: #222222;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header_wrapper .group_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_wrapper .group_icon .header_li {
  margin-left: 35px;
  cursor: pointer;
}

.header_wrapper .group_icon .header_li:nth-child(1) {
  margin-left: 0;
}

.menu_box:hover .drop_menu {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_box .drop_menu {
  z-index: 2;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  position: absolute;
  background: #ffffff;
  width: 100%;
  max-width: 232px;
  height: 764px;
  top: 75px;
  right: 0px;
}

.menu_box .drop_menu .name_menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 37px 0 24px 34px;
}

.menu_box .drop_menu .name_attributs {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin: 0 0 12px 34px;
}

.menu_box .drop_menu .attribute_menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin: 0 0 11px 54px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu_box .drop_menu .attribute_menu:hover {
  font-size: 16px;
}

.menu_box .drop_menu .close_drop {
  position: absolute;
  top: 16px;
  right: 16px;
}

.icon_header {
  fill: #e8e8e8;
}

.inner_block {
  background: #f1e4e6;
  height: 764px;
}

.inner_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: inherit;
}

.inner_wrapper .inner_img_block {
  width: 100%;
  height: inherit;
  background-color: #f1e4e6;
  background-image: url(../img/index/innerFon.svg);
  background-repeat: no-repeat;
  background-position: -225px 10px;
  background-size: 830px;
}

.inner_wrapper .inner_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_wrapper .inner_heading .head_heading {
  border-left: 12px solid #f16d7f;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  padding-left: 16px;
}

.inner_wrapper .inner_heading .up_heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
}

.inner_wrapper .inner_heading .pink {
  color: #f16d7f;
}

.promotin {
  padding-top: 65px;
  padding-bottom: 96px;
  background: #e5e5e5;
}

.gender_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
  margin-bottom: 30px;
}

.img_block {
  position: relative;
  max-width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_block:hover {
  cursor: pointer;
}

.img_block:nth-child(1) {
  background: #222222 url(../img/index/wuman.jpg) center no-repeat;
}

.img_block:nth-child(2) {
  background: #222222 url(../img/index/man.jpg) center no-repeat;
}

.img_block:nth-child(3) {
  background: #222222 url(../img/index/children.jpg) center no-repeat;
}

.accesorie_block {
  position: relative;
  max-width: 1140px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222 url(../img/index/accesorie.jpg) center no-repeat;
}

.accesorie_block:hover {
  cursor: pointer;
}

.promoution_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.promoution_text .upText_promo {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.shadow_block {
  position: absolute;
  width: 100%;
  height: inherit;
  background: #000000;
  opacity: 0.6;
}

.shadow_block:hover {
  opacity: 0;
}

.card_section {
  background: #e5e5e5;
  padding-bottom: 95px;
}

.headind_products {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
  margin-bottom: 6px;
}

.subtitle_products {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9f9f9f;
}

.product_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 30px;
  padding: 48px 0 48px 0;
}

.product_card {
  max-width: 360px;
  background: #f8f8f8;
}

.product_card .img_product {
  position: relative;
  text-align: center;
  background: #f3eded;
}

.product_card .img_product .shadow_card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.product_card .img_product .shadow_card:hover {
  opacity: 0.8;
}

.product_card .img_product .shadow_card .add_product {
  position: relative;
  background: #000000;
  color: #ffffff;
  padding: 13px 13px 13px 38px;
  border: 3px solid #ffffff;
  z-index: 2;
}

.product_card .img_product .shadow_card .add_product:hover {
  cursor: pointer;
}

.product_card .img_product .shadow_card .add_product .add_product_before {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 13px;
}

.product_card .img_product .shadow_card .add_product .add_product_before::before {
  content: "";
  background-image: url(../img/index/basket.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 10px;
  padding: 16px;
}

.product_card .description_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_card .description_product .name_product {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin: 25px 0 12.5px 18px;
}

.product_card .description_product .text_product {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 0 0 18px 16.5px;
}

.product_card .description_product .price_product {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin: 0 0 20px 18px;
}

.browse_btn {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26375;
  background: #e5e5e5;
  border: 1px solid #ff6a6a;
  padding: 14px 38.5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.browse_btn:hover {
  background: #ff6a6a;
  color: #e5e5e5;
  cursor: pointer;
}

.info_promo {
  background: #222224;
}

.info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 340px;
}

.info_wrapper .info_block {
  max-width: 360px;
  width: 100%;
}

.info_wrapper .info_block .heading_info {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 16px;
  padding-top: 50px;
}

.info_wrapper .info_block .heading_info.car::after {
  content: "";
  position: absolute;
  background: url(../img/index/iconCar.svg) center no-repeat;
  padding: 16px 24px;
  top: 0px;
  left: 160px;
}

.info_wrapper .info_block .heading_info.sale::after {
  content: "";
  position: absolute;
  background: url(../img/index/sale.svg) center no-repeat;
  padding: 20px 24px;
  top: 0px;
  left: 160px;
}

.info_wrapper .info_block .heading_info.crown::after {
  content: "";
  position: absolute;
  background: url(../img/index/crown.svg) center no-repeat;
  padding: 18px 24px;
  top: 0px;
  left: 160px;
}

.info_wrapper .info_block .subtitle_info {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding: 0 18px 0 18px;
}

.fon_subscribe {
  background: #f4f4f4b2 url(../img/index/commentFon.jpg) center no-repeat;
  height: 448px;
  position: relative;
}

.fon_subscribe .shadow_subscribe {
  position: absolute;
  width: 100%;
  height: inherit;
  background: rgba(244, 244, 244, 0.7);
  top: 0;
}

.sibscribe_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sibscribe_wrapper .comment_block {
  max-width: 360px;
  z-index: 2;
}

.sibscribe_wrapper .comment_block .comment_subscribe {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 130px;
}

.sibscribe_wrapper .comment_block .comment_subscribe .italic {
  font-style: italic;
}

.sibscribe_wrapper .comment_block .comment_subscribe::before {
  content: "";
  position: absolute;
  padding: 50px;
  background: url(../img/index/face.svg) center no-repeat;
  top: 0;
  left: 115px;
}

.sibscribe_wrapper .form_block {
  z-index: 2;
}

.sibscribe_wrapper .form_block .heading_subscribe {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.sibscribe_wrapper .form_block .heading_subscribe .up_text_subscribe {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.sibscribe_wrapper .form_block form .input_substribe {
  padding: 14px 80px 14px 22px;
  background: #e1e1e1;
  color: #222222;
  border: none;
  border-radius: 30px 0 0 30px;
}

.sibscribe_wrapper .form_block form .input_substribe:focus {
  -webkit-box-shadow: 3px 10px 30px 10px #ffff, 3px -10px 30px 10px #ffff;
          box-shadow: 3px 10px 30px 10px #ffff, 3px -10px 30px 10px #ffff;
}

.sibscribe_wrapper .form_block form .btn_substribe {
  position: absolute;
  padding: 14px;
  font-family: "lato" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #f16d7f;
  border: none;
  border-radius: 0 30px 30px 0;
}

.sibscribe_wrapper .form_block form .btn_substribe:hover {
  cursor: pointer;
}

.footer {
  height: 79px;
  background: #222224;
}

.footer .fotter_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer .fotter_wrapper .reserved {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer .fotter_wrapper .group_messangers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.footer .fotter_wrapper .group_messangers .icon_messanger {
  text-align: center;
  color: #000000;
  background: #ffffff;
  padding: 10px;
}

.footer .fotter_wrapper .group_messangers .icon_messanger:hover {
  background: #f16d7f;
  color: #ffffff;
  cursor: pointer;
}

.inner_header {
  position: relative;
  height: 148px;
  background: #f8f3f4;
}

.inner_header .inner_header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.inner_header .inner_header_wrapper .heading_inner {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.inner_header .inner_header_wrapper .bread_crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner_header .inner_header_wrapper .bread_crumbs .crumbs {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.inner_header .inner_header_wrapper .bread_crumbs .crumbs:hover {
  font-size: 16px;
  line-height: 20px;
}

.inner_header .inner_header_wrapper .bread_crumbs .crumbs:nth-child(1)::after {
  content: "/";
  margin: 0 5px 0 5px;
}

.inner_header .inner_header_wrapper .bread_crumbs .crumbs:nth-child(2)::after {
  content: "/";
  margin: 0 5px 0 5px;
}

.inner_header .inner_header_wrapper .bread_crumbs .crumbs:nth-child(3) {
  content: "";
  font-weight: 700;
  color: #f16d7f;
}

.catalog {
  background: #ffffff;
  padding-bottom: 95px;
}

.menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_block .filter {
  position: absolute;
  top: -15px;
  width: 350px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #ffffff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.menu_block .filter span {
  margin-left: 11px;
}

.menu_block .filter:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 10px black, 0 -1px 10px;
          box-shadow: 0px 1px 10px black, 0 -1px 10px;
  padding: 13px 0 0 16px;
  z-index: 2;
}

.menu_block .filter:hover .category_box {
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.filter_box {
  position: relative;
}

.category_box {
  display: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  background: #ffffff;
}

.category_box .name_category {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  padding: 15px 0 15px 11px;
  margin: 24px 0 11px 0;
}

.category_box .name_attribute {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin: 0 0 11px 34px;
}

.list_atributs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 65px 0;
}

.list_atributs .atribut {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #6f6e6e;
  margin-right: 28px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.list_atributs .atribut:hover {
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.list_atributs .atribut span {
  margin-left: 10px;
}

.size_box:hover .checked_box {
  display: block;
  -webkit-box-shadow: 0px 1px 5px black, 0px -1px 5px black;
          box-shadow: 0px 1px 5px black, 0px -1px 5px black;
  padding: 7px 30px 5px 9px;
}

.lable_size {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  margin: 0 0 6px 9px;
}

.checked_box {
  position: absolute;
  display: none;
}

.listen_pages {
  max-width: 283px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  padding: 11px 15px;
  background-color: #ffffff;
  text-align: center;
}

.listen_pages .page {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ebebeb;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin: 0 8px 0 8px;
}

.listen_pages .page:hover {
  color: #ef5b70;
}

.listen_pages .pink {
  color: #ef5b70;
}

.listen_pages .ellipsis {
  color: #ebebeb;
  -webkit-transition-duration: 0.3;
          transition-duration: 0.3;
}

.listen_pages .ellipsis:hover {
  color: #ef5b70;
  cursor: pointer;
}

.listen_pages .left {
  margin-right: 8px;
}

.listen_pages .left:hover {
  cursor: pointer;
}

.listen_pages .right {
  margin-left: 8px;
}

.listen_pages .right:hover {
  cursor: pointer;
}

.swapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 777px;
  background: #f7f7f7;
  padding-bottom: 31px;
}

.swapper .leftSwap {
  text-align: center;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  fill: #ef5b70;
}

.swapper .leftSwap:hover {
  cursor: pointer;
}

.swapper .rightSwap {
  text-align: center;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
}

.swapper .rightSwap:hover {
  cursor: pointer;
}

.description_swapper {
  padding-bottom: 130px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #eaeaea;
  padding: 65px 0 65px 0;
  margin-top: -60px;
  z-index: 2;
}

.description .heading_descriptin {
  font-weight: 300px;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-bottom: 27px;
}

.description .subtitle_descriptin {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #4d4d4d;
  margin-bottom: 48px;
}

.description .text_description {
  max-width: 555px;
  font-weight: 300;
  font-style: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 32px;
}

.description .price_description {
  font-weight: 300;
  font-style: 24px;
  line-height: 29px;
  color: #ef5b70;
  margin-bottom: 65px;
}

.description .line_description {
  max-width: 641px;
  border: none;
  padding: 0.5px 0 0.5px 0;
  background: #eaeaea;
  margin-bottom: 65px;
}

.description .listen_atributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .listen_atributes .atribute_product {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #6f6e6e;
  margin-bottom: 50px;
}

.description .listen_atributes .atribute_product:hover {
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.description .listen_atributes .atribute_product span {
  margin-left: 9px;
}

.description .listen_atributes .atribute_product:nth-child(1) {
  margin-right: 22px;
}

.description .listen_atributes .atribute_product:nth-child(2) {
  margin-right: 22px;
}

.description .addToCart {
  position: relative;
  border: 1px solid #ff6a6a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f26376;
  background: #ffffff;
  padding: 14px 57px 14px 72px;
  margin-bottom: 65px;
}

.description .addToCart:hover {
  background: #ef5b70;
  color: #ffffff;
  cursor: pointer;
}

.description .addToCart span {
  position: absolute;
  top: 6px;
  left: 20px;
}

.inner_product {
  padding-bottom: 130px;
}

.inner_heading_cart {
  height: 148px;
  background: #f8f3f4;
}

.inner_heading_cart .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.inner_heading_cart .wrapper .heading_cart {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.cart_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 96px 0 128px 0;
}

.carts_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 72px;
}

.cart_block .cart_data {
  position: relative;
  padding: 22px 97px 62px 32px;
}

.cart_block .cart_data .heading_cart {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart_block .cart_data .text_data {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart_block .cart_data .text_data .pink {
  color: #ef5b70;
}

.cart_block .cart_data .text_data .count {
  padding: 1.5px 16px;
  border: 1px solid #eaeaea;
  margin-left: 24px;
}

.cart_block .cart_data .close {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart_block .cart_data .close:hover {
  cursor: pointer;
}

.cart_block:nth-child(1) {
  margin-bottom: 30px;
}

.group_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 652px;
  width: 100%;
}

.group_btn .btn_cart {
  width: 235px;
  height: 50px;
  border: 1px solid #a4a4a4;
  background: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.group_btn .btn_cart:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

.shipping_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 128px;
}

.shipping_box .heading_shipping {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.form_shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 67px;
}

.form_shipping .input_shipping {
  width: 360px;
  height: 45px;
  border: 1px solid #a4a4a4;
  padding: 0 10px;
  margin-bottom: 20px;
  color: #222222;
}

.form_shipping .input_shipping:nth-child(3) {
  margin-bottom: 24px;
}

.form_shipping .btn_shipping {
  width: 100px;
  height: 34px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  background: #ffffff;
}

.form_shipping .btn_shipping:hover {
  color: #ffffff;
  background: #4a4a4a;
  cursor: pointer;
}

.fullPrice_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background: #f5f3f3;
  padding: 39px 34px 42px 44px;
}

.fullPrice_box .sub {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.fullPrice_box .sub .sub_price {
  margin-left: 15px;
}

.fullPrice_box .grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
}

.fullPrice_box .grand .grand_price {
  color: #ef5b70;
  font-weight: 700;
  margin-left: 25px;
}

.fullPrice_box .line_box {
  width: 275px;
  padding: 0.5px 0;
  background: #e2e2e2;
  border: none;
  margin-bottom: 17px;
}

.fullPrice_box .checkout {
  width: 273px;
  height: 50px;
  background: #f16d7f;
  color: #ffffff;
  border: none;
}

.fullPrice_box .checkout:hover {
  background: #ffffff;
  color: #f16d7f;
  cursor: pointer;
}

.registration_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 0 96px;
}

.registration_wrapper .registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-right: 130px;
}

.registration_wrapper .registration_form .heading_form {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration_wrapper .registration_form .input_registration {
  max-width: 360px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  color: #222222;
  padding-left: 16px;
  border: 1px solid #a4a4a4;
  margin-bottom: 20px;
}

.registration_wrapper .registration_form .radio_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.registration_wrapper .registration_form .radio_box .input_radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 17px;
  border: 1px solid #a4a4a4;
  border-radius: 50%;
}

.registration_wrapper .registration_form .radio_box .input_radio:checked {
  background: #000000;
}

.registration_wrapper .registration_form .radio_box .lable {
  margin-left: 10px;
  margin-right: 20px;
}

.registration_wrapper .registration_form .rule_pass {
  max-width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #b1b1b1;
  margin-bottom: 40px;
}

.registration_wrapper .registration_form .btn_registration {
  width: 167px;
  height: 50px;
  background: #f16d7f;
  border: none;
  color: #ffffff;
}

.registration_wrapper .registration_form .btn_registration:hover {
  cursor: pointer;
}

.registration_wrapper .registration_form .btn_registration span {
  margin-left: 20px;
}

.info_box .promo_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
}

.info_box .promo_text:nth-child(1) {
  margin: 5px 0 22px 0;
}

.info_box .promo_text:nth-child(2) {
  margin: 0px 0 22px 0;
}

@media (max-width: 769px) {
  .wrapper_m {
    max-width: 736.51px;
  }
  .inner_block {
    height: 367.57px;
  }
  .inner_img_block {
    background-position: center 5px !important;
    background-size: 400px !important;
  }
  .head_heading {
    font-size: 24px !important;
    line-height: 28.8px !important;
  }
  .head_heading .up_heading {
    font-size: 44px !important;
    line-height: 52.8px !important;
  }
  .promotin {
    padding: 19.5px 0 154.92px;
  }
  .gender_section {
    grid-row-gap: 18.91px;
    grid-column-gap: 19.38px;
  }
  .img_block {
    max-width: 232px;
    height: 167px;
  }
  .accesorie_block {
    max-width: 734.94px;
    height: 116.04px;
  }
  .card_section {
    padding-bottom: 65px;
  }
  .product_cards_indexM {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 17px;
    padding-bottom: 33px;
  }
  .info_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 48.16px 0 65px 0;
    height: auto;
  }
  .info_block {
    margin-bottom: 48.46px;
  }
  .info_block:nth-child(3) {
    margin-bottom: 0;
  }
  .fon_subscribe {
    background: url(../img/index/fon736.svg) center no-repeat;
    height: auto;
    padding: 53.59px 0 140px 0;
  }
  .shadow_subscribe {
    height: 100% !important;
  }
  .sibscribe_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment_block {
    margin-bottom: 48px;
  }
  .group_messangers {
    grid-column-gap: 7.3px !important;
  }
  .product_cards_catalogM {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 40px 0 40.5px 0;
  }
  .product_cards_catalogM .product_card:last-child {
    display: none;
  }
  .catalog {
    padding-bottom: 63.5px;
  }
  .product_cards_productM {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }
  .product_cards_productM .product_card:last-child {
    display: none;
  }
  .addToCart {
    margin-bottom: 0 !important;
  }
  .cart_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 59px 0 128.5px 0;
  }
  .group_btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 50px;
        -ms-flex-positive: 50px;
            flex-grow: 50px;
  }
  .group_btn .btn_cart:last-child {
    margin-left: 49px;
  }
  .carts_box {
    padding-bottom: 64.5px;
  }
  .shipping_box {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shipping_box .fullPrice_box {
    margin: 37.5px 0 0 0px;
  }
  .shipping_box .form_shipping {
    margin: 0 7.76px 0 0;
  }
  .heading_cart {
    margin-left: 16px;
  }
  .cart_data {
    padding: 22px 131px 62px 32px !important;
  }
  .registration_form {
    padding-right: 22.51px !important;
    margin-right: 22.51px !important;
  }
  .promo_text {
    font-size: 16px !important;
    line-height: 19.2px !important;
  }
}

@media (max-width: 376px) {
  .wrapper_s {
    max-width: 363px;
    padding: 0 6px;
  }
  .header_li_none {
    display: none;
  }
  .inner_img_block {
    display: none;
  }
  .inner_wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .inner_heading {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .promotin {
    padding: 64px 0 64px 0;
  }
  .menu_box {
    margin-right: 26px;
  }
  .gender_section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 32px;
  }
  .img_block {
    width: 343px;
    height: 247px;
    margin: 0 auto;
  }
  .accesorie_block {
    max-width: 343px;
    height: 111px;
    margin: 0 auto;
  }
  .product_cards_indexS {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .info_wrapper {
    padding: 48px 0 81px 0;
  }
  .comment_subscribe::before {
    left: 125px !important;
  }
  .head_heading {
    font-size: 20px;
    line-height: 24px;
  }
  .head_heading .up_heading {
    font-size: 38px !important;
    line-height: 45.6px !important;
  }
  .comment_subscribe {
    font-size: 18px;
    line-height: 21.6px;
  }
  .heading_subscribe {
    font-size: 14px !important;
    line-height: 21.45px !important;
  }
  .up_text_subscribe {
    font-size: 24px !important;
    line-height: 36.77px !important;
  }
  .form_block {
    width: 100%;
  }
  .fotter_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer {
    height: 143px;
  }
  .group_messangers {
    margin-bottom: 40px;
  }
  .inner_header_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inner_header_wrapper .heading_inner {
    margin-top: 24px;
  }
  .inner_header_wrapper .bread_crumbs {
    margin-bottom: 46px;
  }
  .text_filter {
    display: none;
  }
  .atribut {
    font-size: 12px !important;
    line-height: 14.4px !important;
    margin-right: 24px !important;
  }
  .atribut span {
    margin-left: 9px !important;
  }
  .product_cards_catalogS {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .swapper_block img {
    width: 285px;
  }
  .swapper {
    height: 624px;
  }
  .description {
    padding: 64px 0 64px 0;
    max-width: 373px;
  }
  .product_cards_productS {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    padding-bottom: 64px;
  }
  .description_swapper {
    padding-bottom: 64px;
  }
  .atribute_product {
    font-size: 10px !important;
    line-height: 12px !important;
  }
  .inner_heading_cart .wrapper_s {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart_block {
    text-align: center;
  }
  .cart_block img {
    width: 143.58px;
    height: 188px;
  }
  .heading_cart {
    width: 143px;
    font-size: 16px !important;
    line-height: 19px !important;
    margin-left: 0;
    margin-bottom: 25.85px !important;
  }
  .text_data {
    font-size: 14px !important;
    line-height: 16.8px !important;
  }
  .cart_data {
    padding: 13.5px 55px 0px 17px !important;
    text-align: start;
  }
  .cart_data .close {
    top: 17px !important;
    right: 12px !important;
  }
  .cart_wrapper {
    padding: 49px 0 96px 0;
  }
  .cart_block:nth-child(2) {
    margin-bottom: 30.33px;
  }
  .btn_cart {
    width: 132px !important;
    height: 32px !important;
    font-size: 12px !important;
    font-weight: 14.4px !important;
    text-transform: lowercase;
  }
  .carts_box {
    padding-bottom: 48.33px !important;
  }
  .shipping_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fullPrice_box {
    padding: 39px 43px 42px 44px;
  }
  .input_shipping {
    width: 340px !important;
  }
  .btn_shipping {
    font-size: 11px !important;
    line-height: 13.2px !important;
    text-transform: lowercase;
  }
  .registration_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 90px 0;
  }
  .registration_form {
    padding-bottom: 40px;
  }
  .inner_heading_cart .heading_cart {
    width: auto;
    font-size: 24px !important;
    line-height: 28px !important;
  }
  .rule_pass {
    width: 353px;
  }
}
/*# sourceMappingURL=style.css.map */